/***************Main setup***************/
.main_body {
  width: 70%;
  background-color:  #012333;/*#ededed;*/
  margin: 0 auto;
  font-family: Arial;
}

.center {
  text-align: center;
  margin: 25px auto;
}

/*Headings*/
.headings {
  color: #039455;
  font-size: 60px;
}


/*Buttons*/

.page_bttn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 2px;
  color: #fff;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  margin-right: 10px;
  font-weight: bold;
}

.bttn_full {
  background-color: #05AB92;
  border: 2px solid #05AB92;
}

.bttn_full:hover {
  background-color: #058DA1;
  border: 2px solid #058DA1;
}

/*******Form******/
.form_body{
  width: 75%;
  text-align: left;
  margin: 25px auto;
  box-sizing: border-box;
}
.form_lebel{
  color: white;
  margin-left: 3px;
}

.form_field{
  margin: 10px 0;

}

.form_field input[type="text"],
input[type="password"],
input[type="date"]{
  box-sizing: border-box;
  width: 70%;
  margin: 6px 2px;
  height: 33px;
}

.form_field input[type="radio"]{
  margin-top: 8px;
  margin-bottom: 8px;
}
